VITE_SUPABASE_URL=https://nxqtduvaaacxsxkkaopd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im54cXRkdXZhYWFjeHN4a2thb3BkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTQ5NzczNiwiZXhwIjoyMDg3MDczNzM2fQ.wpNRBHpxZzudlBYZahqcJuDX2Lg0Rl8r4nOSVQ9iknA
VITE_GEMINI_API_KEY=AIzaSyAYk90gFRbFOEx44-f3drip_7PeHAfTeyw
